/*--------------------------------------------------------
    BASIC PAGE STYLES
---------------------------------------------------------*/

html {
    font-family: sans-serif;
    font-size: 16pt;
}

body {
    font-size: 16px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

h1  {
    text-align: center;
}

/* LIGHTBOX/MODAL STYLING */
.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*creates 4 equal columns that float next to each other */
.column {
    float: left;
    width: 25%;
}

/* The modal(background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* Close button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide slides by default */
.mySlides {
    display: none;
}

/* Next and previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position next button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add see-through background color */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*------------------------------------------------
Contact STYLES 
--------------------------------------------*/
.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rbga(100,65,0,.3);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
}

#contact {
    background-color: #6e6e6e;
}

.reservation {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0,.3);
    box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.1), 1px 2px 10px 0 rgba(0,0,0,0.5);
}

.reservation h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161b;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.reservation h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161b;
    font-weight:900;
    font-size: 1.5em;
    font-variant: normal;
    letter-spacing: 0.4pt;
    word-spacing: 0.3pt;
}

.reservation p {
    color: #13161b;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}


.reservation form {
    font-size: 18px;
    outline: none;
    font-weight: 600;
    color: #8d8e6f;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(227, 222, 222);
    box-shadow: 2px 3px 3px 0px rgba (0,0,0,0.3);
    font-family: Arial, Helvetica, sans-serif;
}

.reservation input[type="text"] {
    font-size: 18px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090B0d;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090B0d;
    margin: 10px 1em;
    border-radius: 7px;
    background: #13161b;
    box-shadow: inset 0px 3px 0px 0px rgba(5,5,5,0.15);
    font-family: Arial, Helvetica, sans-serif;
}

.reservation input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(100, 65, 0, 0.8);
}

.form-spacer {
    padding: 30px 39px;
}

.terms {
    margin: 30px 1px 0 0 ;
    margin-top: 13%;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
}

.terms:hover {
    color:orange;
    text-decoration: underline;
}

.submit input[type="submit"] {
    color: rgb(225,225,225);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: #797a7b;
    box-shadow: 1px 1px 4xp 0 rgba(0,0,0,0.3);
}

.submit input[type="submit"]:hover {
    color: #000;
    background-color: #8d8e6f;
    box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0.5);
}

/*-----------------------------------------------------
    FOOTER STYLES
-----------------------------------------------------*/
footer {
    background-color: #6e6e6e;
    color: #000;
    text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
    padding: 20px 50px 20px 50px;
    text-align: right;
}
